/* tabs style started  */
.bloc-tabs {
  display: flex;
  font-family: serif;
}
.tabs {
  padding: 5px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}
/* tabs style finished  */

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.active-content {
  display: block;
}

.btnView {
  margin-right: 10px;
}

@media screen and (max-width: 600px) {
  .homeDiv {
    width: auto;
  }
  .btnView {
    margin-bottom: 10px;
  }
  .reportCol {
    margin-left: 10px;
  }
}
